ipch/
img/
CamMotionViewer/GeneratedFiles/
CamMotionViewer/Debug/
CamMotionViewer/Resources/
*.exe
*.opensdf
*.bin
*.obj
*.user
*.suo
*.pdb
*.sdf
*.sln
*.ilk
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.manifest
*.lastbuildstate
*.log
*.tlog
*.res
*.rc
*.filters
*.props
*.ico
*.qrc